
.nav {
    width: 100vw;
    height: 70px;
    position: fixed;
    color: #14171a;
    background: -webkit-linear-gradient(white, rgb(249, 255, 242));
    border-bottom: 1px solid rgb(160, 160, 160);
    @include flexSetUp(space-between, center, row);
    z-index: 2;
    
}


//----LOGO STUFF----//

.nav-logo {
    margin-left: 7%;
    margin-bottom: 0.5%;
    @include width-height(65px, 65px);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}


//----ANIMATION STUFF FOR TALKO LOGO----//

@-webkit-keyframes nav-logo {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  @keyframes nav-logo {
    50% {
      -webkit-transform: translateX(3px) rotate(3deg);
      transform: translateX(3px) rotate(3deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-3deg);
      transform: translateX(-3px) rotate(-3deg);
    }
  }
  .nav-logo {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .nav-logo:hover, .nav-logo:focus, .nav-logo:active {
    -webkit-animation-name: nav-logo;
    animation-name: nav-logo;
    -webkit-animation-duration: 0.0025s;
    animation-duration: 0.0025s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  

//----DROPDOWN STUFF----//


.dropdown {
    margin-right: 7%;
    height: 100%;
}

.dropdown img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 2px solid $color4;
}

.dropdown-container {
    display: none;
    right: 7%;
    
}

.dropdown:hover .dropdown-container {
    display: block;
    align-content: center;
    position: absolute;
}

.dropdown-content {
    font-family: $secondaryfont;
    display: flex;	
    flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: flex-start;
	  align-items: center;
    align-content: stretch;
} 

.dropdown-content li {
    text-decoration: none;
    text-align: left;
    width: 153px;
    background: rgb(249, 255, 242);
    padding: 18px 16px 18px 16px;
    border: 1px solid $color2;
    
}

.dropdown-content li:hover {
  cursor: pointer;  
  
}

.dropdown-content a {
    text-decoration: none;
    color: $color0;
}


//----TALKO BOX STUFF----//

.talko-box-container {
    width: 500px;
    height: 50px;
    background: rgb(235, 235, 235);
    transition:height 0.25s; 
 
}

// .talko-box-container:hover {
//     height: 100px;
//     margin-top: 50px;
// }

.talko-box {
    background: white;
    display: block;
    font-size: 20px;
    line-height: 23px;
    font-family: 'Roboto';
    letter-spacing: 1px;
    width: 80%;
    margin-top: 7px;
    margin-left: 8%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0, .8), 0px 1px 1px rgba(255,255,255, .8);
    border: 1px solid $color5;
    -webkit-transition: all .25 ease;
    -moz-transition: all .25 ease;
    transition: all .25 ease;
  }
  
  .talko-box {
    resize: none;
    opacity: 1;
    overflow: hidden;
  }
  
 
  .talko-box:focus {
    opacity: 1;
    color: black;
    border: 1px solid $color4;
    box-shadow: inset 0 1px 2px rgba(0,0,0, .8);
    // margin-top: 56px;
    padding-bottom: 62px;
  }
  
  .talko-box[type="text"]:focus {
    box-shadow: inset 0 1px 2px $color0, 0px 1px 15px $color4;
    border: 1px solid $color4;
    outline: none;
  }

  .talko-box.break {
      word-wrap: break-word;
      word-break: break-all;
      height: 62px;
  }


.usernname {
  font-weight: bolder;
  font-size: 20px;
  line-height: 35px;
}
#buttion {
  font-size: 10;
  padding: 1px;
  background: pink;
  color: #FF0000;
  border-color: #FF0000;
  border-radius: 5px;
  box-shadow: 1px;
}