.postsholders{
    margin-top: 20px;
}
a{text-decoration: none}
.out{
    width: 65%;
    border: 1px darkgray solid;
    padding: 7px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 1%;
    color: $color0;
    .toppart{
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        .avatarholder{
            img{
                height:55px;
                width:55px;
                border-radius: 5px;
                margin-right: 5px;
            }
        }
        .names{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            .name{
                font-size: 20px;
                font-family: $primaryfont;
                color: $color0
            }
            .handle{
                margin-left: 5px;
                color: $color1;
            }
        }
        
    }
    .middlepart{
        .guts{
            word-wrap: break-word;
            width: 85%;
            font-size: 17px;
            margin-left: 80px;
        }
    }
    .bottompart{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        .gutsimage{
            display: flex;
            justify-content: flex-start;
            margin-left: 65px;
            img{
                max-width: 80%;
                height: 100%;
                border-radius: 5px;
            }
        }
    }
    .votebuttons{
        width: 50%;
        margin-left: 3%;
        display: flex;
        justify-content: space-around;
        .likebutton{
            display: flex;
            align-items: center;
            .votenum{
                margin-left: 10px;
                font-size: 21px;
            }
            .fa:hover{
                cursor: pointer;
            }
        }
    }
}