body {
    max-width: 20%;
}

.btn-group {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    margin: 10px;
}

#save {
    width: 33.333%;
}

/* Add a background color on hover */
.btn-group:hover {
    background-color: #3e8e41;
}

input[type=text], [type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1 {
    padding-left: 20px;
}



