//-- Main Color Scheme --//
$color1: #94d1be;
$color2: #daf0ee;
$color3: #9db5b2;
$color4: #3b413c;
$color5: #ffffff;

//-- Transition for Settings --//
$tl: 0.6s;

// -- Google Fonts -- //
// font-family: 'Berkshire Swash', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Shrikhand', cursive;
// font-family: 'Audiowide', cursive;