//-- Main Color Scheme --//
$color0: #161925;
$color1: #4A7C59;
$color2: #68B0AB;
$color3: #8FC0A9;
$color4: #C8D5B9;
$color5: #FAF3DD;
//--Font Families--//
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fauna+One');
$primaryfont: 'Fauna One', serif;
$secondaryfont: 'Roboto', sans-serif;


