html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav {
  width: 100vw;
  height: 50px;
  background-color: #8B8B8B; }

.nav img {
  height: 100%;
  width: 50px; }

.sidebar {
  background-color: blue;
  width: 20%; }

img {
  width: 100%; }

.main-content {
  background-color: greenyellow;
  width: 80%; }

.frame {
  height: 90vh;
  width: 100vw;
  background-color: #717171;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch; }

.post {
  height: 100px;
  width: 200px;
  padding: 100px;
  background-color: #CD8C32;
  margin: 30px; }

.post img {
  height: 100%; }

.compose-empty {
  height: 20px;
  width: 190px;
  background-color: white; }

.composing {
  background-color: white; }

body {
  max-width: 20%; }

.btn-group {
  background-color: #4CAF50;
  /* Green background */
  border: 1px solid green;
  /* Green border */
  color: white;
  /* White text */
  padding: 10px 24px;
  /* Some padding */
  cursor: pointer;
  /* Pointer/hand icon */
  width: 100%;
  /* Set a width if needed */
  display: block;
  /* Make the buttons appear below each other */
  margin: 10px; }

#save {
  width: 33.333%; }

/* Add a background color on hover */
.btn-group:hover {
  background-color: #3e8e41; }

input[type=text], [type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

h1 {
  padding-left: 20px; }
